<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Topic Listing Contact Page</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
          rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/blog.css">
    <link href="css/templatemo-topic-listing.css" rel="stylesheet">

    <!--

    TemplateMo 590 topic listing

    https://templatemo.com/tm-590-topic-listing

    -->
</head>

<body class="topics-listing-page" id="top">

<main>

    <nav class="navbar navbar-expand-lg" style="background-color: black">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <i class="bi-back" style="color: blueviolet"></i>
                <span style="color: blueviolet">UniHub</span>
            </a>

            <div class="d-lg-none ms-auto me-4">
                <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 226px;">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">
                    <li class="nav-item">
                        <a style="font-size: 18px; margin: 6px; padding-right: 40px" class="nav-link click-scroll"
                           href="/universities">Home</a>
                    </li>

                    <li class="nav-item">
                        <a style="font-size: 18px; margin: 6px; padding-right: 40px" class="nav-link click-scroll"
                           href="/blog">Blogs</a>
                    </li>

                    <li class="nav-item">
                        <a style="font-size: 18px; margin: 6px" class="nav-link click-scroll" href="#">Contact</a>
                    </li>

                </ul>

                <div class="d-none d-lg-block">
                    <button th:if="${session.user==null}" style="height: 46px; background-color: #80D0C7" type="submit"
                            class="form-control"><a href="https://accounts.google.com/o/oauth2/auth?scope=email&redirect_uri=http://localhost:8080/login-google&response_type=code
                                        &client_id=570524258444-ridflrjec1qvuq3oidpn67cc1gm3t8i6.apps.googleusercontent.com&approval_prompt=force"
                                                    class="btn btn-soft-primary">Login <img width="20px"
                                                                                            src="https://colorlib.com/etc/lf/Login_v9/images/icons/icon-google.png"
                                                                                            alt="alt"/></a></button>
                    <div style="display: flex">
                        <button th:if="${session.user!=null}" type="button"
                                class="btn btn-pills btn-soft-primary dropdown-toggle p-0"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                th:src="@{${session.user.avatarUrl}}" width="44px"
                                class="avatar avatar-ex-small rounded-circle" alt="">
                        </button>
                        <button th:if="${session.user!=null}" type="submit" class="form-control"
                                onclick="window.location.href='/logout'" style="background-color: #80D0C7">Logout
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </nav>


    <header class="site-header d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-5 col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../../../../frontend/index.html">Homepage</a></li>

                            <li class="breadcrumb-item active" aria-current="page">Contact Form</li>
                        </ol>
                    </nav>

                    <h2 class="text-white">Contact Form</h2>
                </div>

            </div>
        </div>
    </header>


    <div class="wrapper style3">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-8 offset-md-2 col-12-medium">

                        <!-- Article list -->
                        <section class="box article-list">
                            <h2 class="icon fa-file-alt">Recent Posts</h2>

                            <article class="box excerpt" th:each="article: ${blogs}">
                                <a href="#" class="image left"><img style="width: 100px"
                                                                    th:src="@{${article.imgUrl}}"
                                                                    alt=""/></a>
                                <div>
                                    <header>
                                        <span class="date" th:text="${article.createAt}"></span>
                                        <h3><a href="#" th:text="${article.caption}"></a></h3>
                                    </header>
                                    <p th:text="${article.preview}"></p>
                                </div>
                            </article>
                        </section>
                    </div>
                    <div>
                        <a href="/blog-detail">
                            <input type="button" value="Add Blog"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="../../../../frontend/index.html">
                    <i class="bi-back"></i>
                    <span>Topic</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">How it works</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">FAQs</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: 305-240-9671" class="site-footer-link">
                        305-240-9671
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:info@company.com" class="site-footer-link">
                        info@company.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        English
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" type="button">Thai</button>
                        </li>

                        <li>
                            <button class="dropdown-item" type="button">Myanmar</button>
                        </li>

                        <li>
                            <button class="dropdown-item" type="button">Arabic</button>
                        </li>
                    </ul>
                </div>

                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2048 Topic Listing Center. All rights reserved.
                    <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>

            </div>

        </div>
    </div>
</footer>


<!-- JAVASCRIPT FILES -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/custom.js"></script>

</body>
</html>